{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    // add support for 'require' keyword:
    "node": true
  },
  "plugins": [
    // Add React/JSX-Semantic rules: http://eslint.org/blog/2015/03/eslint-0.17.0-released/
    "react"
  ],
  // Add babel parser for ES7 features
  "parser": "babel-eslint",
  "rules": {
    "strict": [
      2,
      "global"
    ],
    "no-underscore-dangle": 0,
    // vertical alignment in object literals
    "key-spacing": [
      2,
      {
        "align": "value"
      }
    ],
    // force single quotes
    "quotes": [
      2,
      "single"
    ]
  }
}